In [1]:
#for loop
numbers=[1,'a',2,'b',3,4,5]
for num in numbers:
    print(num)

1
a
2
b
3
4
5

In [5]:
for i in "datas":
    print(i)

d
a
t
a
s

In [3]:
for i in "20":
    print(i)

2
0

In [9]:
for i in [1,2,3,4,5]:
    print(i+10,end='\n')
    print(i*10)

11
10
12
20
13
30
14
40
15
50

In [10]:
for i in [1,2,3,4,5]:
    print(i+10,end='\t')

11	12	13	14	15

In [11]:
#pattern programming
for i in [1,2,3,4,5]:
    print(i*"*")

*
**
***
****
*****

In [12]:
for i in [5,4,3,2,1]:
    print(i*"*")

*****
****
***
**
*

In [14]:
for i in [1,2,3,4,5]:
    print(i*"3")

3
33
333
3333
33333

In [15]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [17]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [18]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [20]:
#print even numbers
for i in range(0,10):
    #print(i)
    if i%2==0:
        print(f'{i} is even number')
    else:
        print(f'{i} is not a even number')

0 is even number
1 is not a even number
2 is even number
3 is not a even number
4 is even number
5 is not a even number
6 is even number
7 is not a even number
8 is even number
9 is not a even number

In [23]:
for i in "DATA12345":
    if i.isalpha():               #print only DATA
        print(i,end='')

DATA

In [44]:
for i in "DATA12345":
    if i.isnumeric():               #print only 12345
        print(i,end=",")

1,2,3,4,5,

In [45]:
data="!@%*$#$&*@@$^^#$&$"
for i in data:
    if i.isalpha()==False:
        print(i,end=",")
print(",".join(data))

!,@,%,*,$,#,$,&,*,@,@,$,^,^,#,$,&,$,!,@,%,*,$,#,$,&,*,@,@,$,^,^,#,$,&,$

In [1]:
word="hello"
for i in word:
    print(i)
print(word)

h
e
l
l
o
hello

In [3]:
data="Data Science Machine Learning"
x=0
y=len(data)
for i in data:
    x=x+1
    y=y-1
    print(x,y,i)

1 28 D
2 27 a
3 26 t
4 25 a
5 24
6 23 S
7 22 c
8 21 i
9 20 e
10 19 n
11 18 c
12 17 e
13 16
14 15 M
15 14 a
16 13 c
17 12 h
18 11 i
19 10 n
20 9 e
21 8
22 7 L
23 6 e
24 5 a
25 4 r
26 3 n
27 2 i
28 1 n
29 0 g

In [4]:
text =''' The Sun emits ~3.8 × 10²⁶ watts of energy! Life depends on its light & heat.
Water (~71% of Earth) supports ecosystems, marine life & weather cycles.
Tech evolves @ rapid speed—AI, IoT & 5G reshape how we work, learn & connect!'''

In [5]:
text.split()

['The',
 'Sun',
 'emits',
 '~3.8',
 '×',
 '10²⁶',
 'watts',
 'of',
 'energy!',
 'Life',
 'depends',
 'on',
 'its',
 'light',
 '&',
 'heat.',
 'Water',
 '(~71%',
 'of',
 'Earth)',
 'supports',
 'ecosystems,',
 'marine',
 'life',
 '&',
 'weather',
 'cycles.',
 'Tech',
 'evolves',
 '@',
 'rapid',
 'speed—AI,',
 'IoT',
 '&',
 '5G',
 'reshape',
 'how',
 'we',
 'work,',
 'learn',
 '&',
 'connect!']

In [6]:
for i  in text.split():
    if i.isalnum()==True:
        print(i,end=",")

The,Sun,emits,10²⁶,watts,of,Life,depends,on,its,light,Water,of,supports,marine,life,weather,Tech,evolves,rapid,IoT,5G,reshape,how,we,learn,

In [9]:
x=0
for i in text:
    if i.isupper():
        x+=1

In [10]:
x

11

In [11]:
x=0
for i in text:
    if i.isupper():
        x+=1
        print(i,end=",")

T,S,L,W,E,T,A,I,I,T,G,

In [13]:
for i in range(0,10):
    print(i,9-i)

0 9
1 8
2 7
3 6
4 5
5 4
6 3
7 2
8 1
9 0

In [16]:
for i in range(0,10):
    print(i,len(range(0,10))-1)

0 9
1 9
2 9
3 9
4 9
5 9
6 9
7 9
8 9
9 9

In [17]:
for i in range(1,6):
    print(i*"*")

*
**
***
****
*****

In [18]:
for i in range(1,6):
    print((6-i)*"*")

*****
****
***
**
*